<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/css/adminIndexStyles.css">
    <link rel="stylesheet" href="/css/navStyles.css">
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet">
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css" rel="stylesheet">

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/setReferrer.js" defer></script>

    <!-- flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/style.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/index.js"></script>

    <!-- ECharts CDN -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>

    <script src="/js/adminIndex.js" defer></script>
    <script th:inline="javascript">
        const SS_USER = /*[[${session.SS_USER}]]*/ null;
        $(document).ready(function () {
            if (SS_USER == null) {
                alert("로그인 후 이용 가능합니다.");
                setReferrer();
                return;
            }

            console.log("role :", SS_USER.role);

            if (!(SS_USER.role === "admin" || SS_USER.role === "super")) {
                alert("관리자 권한이 없습니다.");
                window.location.href = "/";
                return;
            }
        });
    </script>
</head>

<body>
<header></header>

<nav>
    <div class="nav-content">
        <div class="nav-group same_width justify-left">
            <a href="/user/index">하루약속</a>
        </div>
        <div class="nav-group" id="serviceNav">
            <a href="/health/prescriptionList">처방 내역 조회</a>
            <a href="/health/auth">처방 내역 동기화</a>
            <a href="/chat/chat">AI 챗봇 상담</a>
            <a href="/map/map">주변 약국 찾기</a>
            <a href="/admin/index"
               th:if="${session.SS_USER != null and session.SS_USER.role != 'user'}">관리자</a>
        </div>
        <div class="nav-group same_width justify-right" id="beforeLoginNav" th:if="${session.SS_USER == null}">
            <a href="#" class="login" onclick="setReferrer()">로그인</a>
        </div>
        <div class="nav-group after_login same_width justify-right" id="afterLoginNav" th:if="${session.SS_USER != null}">
            <a href="/user/pwd_verification" class="nav-icon" title="마이페이지">👤</a>
            <a href="/user/logout" class="login">로그아웃</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="chart-card">
        <div class="chart-container-title">
            <h2>월별 일일 접속자 수 그래프</h2>
            <div class="monthSelect-container">
                <input type="text" id="monthPicker" placeholder="년/월 선택" readonly>
            </div>
        </div>
        <div class="chart" id="chart">
            <div id="dailyChart"></div>
        </div>
    </div>
    <div class="others-container" id="others">
        <div class="card">
            <h2>오늘 접속자 수</h2>
            <h2 id="todayUserCnt"></h2>
        </div>
        <a href="/admin/userManagement" class="card">
            <div class="icon">🧾</div>
            <h2>회원 관리</h2>
        </a>
        <a href="/admin/banUserManagement" class="card">
            <div class="icon">🚫</div>
            <h2>차단 회원 관리</h2>
        </a>
    </div>
</div>

<footer></footer>
</body>
</html>
