<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>복약 관리</title>
    <link rel="stylesheet" href="/css/authStyles.css">
    <link rel="stylesheet" href="/css/navStyles.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/reminderStyles.css">
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script src="/js/setReferrer.js" defer></script>

    <!-- 전역 변수와 js의 미리정의 필드 -->
    <script th:inline="javascript">
        const intakeLog = /*[[${reminder.intakeLog}]]*/ null;
        const SS_USER = /*[[${session.SS_USER}]]*/ null;
        const userId = /*[[${reminder.userId}]]*/ null;
        const prescriptionId = /*[[${reminder.prescriptionId}]]*/ null;
        let reminder = /*[[${reminder}]]*/ null;

        console.log("reminder : ", reminder);

        const dateMap = {};
        const monthMap = {};
        let currentMonth = "";
        let datePage = 0;
        const datesPerPage = 7;
        let currentMonthDates = [];
    </script>

    <!-- 외부 JS 파일 붙여서 활성화 -->
    <script src="/js/reminder.js" defer></script>
</head>
<body>
<!-- 네비게이션 -->
<nav>
    <div class="nav-content">
        <div class="nav-group same_width justify-left">
            <a href="/user/index">하루약속</a>
        </div>
        <div class="nav-group" id="serviceNav">
            <a href="/health/prescriptionList">처방 내역 조회</a>
            <a href="/health/auth">처방 내역 동기화</a>
            <a href="#">AI 챗봇 상담</a>
            <a href="#">주변 약국 찾기</a>
        </div>
        <div class="nav-group same_width justify-right" id="beforeLoginNav" th:if="${session.SS_USER == null}">
            <a href="/user/signin" class="login" onclick="setReferrer()">로그인</a>
        </div>
        <div class="nav-group after_login same_width justify-right" id="afterLoginNav" th:if="${session.SS_USER != null}">
            <a href="/user/pwd_verification" class="nav-icon" title="마이페이지">👤</a>
            <a href="/user/logout" class="login">로그아웃</a>
        </div>
    </div>
</nav>

<div class="wrapper">
    <div class="card">
        <div class="icon">
            <img src="/icons/medicine.png" alt="pill-icon">
        </div>
        <div class="month-selector">
            <span id="prev-month">&lt;</span>
            <span id="month-display"></span>
            <span id="next-month">&gt;</span>
        </div>
        <div class="date-slider">
            <span id="date-prev" class="date-nav">&lt;</span>
            <div id="date-list-wrapper"><div id="date-list"></div></div>
            <span id="date-next" class="date-nav">&gt;</span>
        </div>
        <div id="intake-list"></div>
    </div>
</div>
</body>
</html>
