

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/indexStyles.css">
    <link rel="stylesheet" href="/css/navStyles.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script> <!-- JS 경로 수정 -->
    <script src="/js/setReferrer.js" defer></script>
    <script src="/js/nav.js" defer></script>
    <script th:inline="javascript">
        let userId = /*[[${userId}]]*/ null;
        let pwdVerifyResult = /*[[${pwdVerifyResult}]]*/ null;
        let SS_USER_ID = /*[[${session.SS_USER_ID}]]*/ null;

        $(document).ready(function () {

            console.log(SS_USER_ID);

            const segments = document.referrer.split("/");
            const referrer = segments[segments.length - 1];
            console.log("이전 페이지의 마지막 경로:", referrer);

            console.log("pwdVerifyResult :", pwdVerifyResult);

            if (!(referrer==="pwd_verification"||referrer==="pwd_verification?")||pwdVerifyResult!=="Y"){
                alert("올바르지 않은 접근입니다.")
                window.location="/user/index";
            }
        });
    </script>
</head>
<body>
<header></header>

<nav>
    <div class="nav-content">
        <div class="nav-group same_width justify-left">
            <a href="/user/index">하루약속</a>
        </div>
        <div class="nav-group" id="serviceNav">
            <a href="#">처방 내역 조회</a>
            <a href="/health/auth">처방 내역 동기화</a>
            <a href="#">AI 챗봇 상담</a>
            <a href="#">주변 약국 찾기</a>
        </div>
        <div class="nav-group same_width justify-right" id="beforeLoginNav">
            <a href="#" class="login" onclick="setReferrer()">로그인</a>
        </div>
        <div class="nav-group after_login same_width justify-right" id="afterLoginNav">
            <a href="/user/pwd_verification" class="nav-icon" title="마이페이지">👤</a>
            <a href="/user/logout" class="login">로그아웃</a>
        </div>
    </div>
</nav>

<div class="container">
    <a href="/user/myPage" class="card big-height big-width">
        <div class="icon">🤖</div>
        <h2>회원정보 수정</h2>
        <p>아이디, 닉네임, 식사루틴 등<br>회원정보를 수정합니다.</p>
    </a>
    <a href="#" class="card big-height big-width">
        <div class="icon">📍</div>
        <h2>회원 탈퇴</h2>
        <p>수집된 모든 정보를 삭제 후<br>회원 탈퇴합니다.</p>
    </a>
</div>

<footer></footer>
</body>
</html>
