

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/indexStyles.css">
    <link rel="stylesheet" href="/css/navStyles.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script> <!-- JS 경로 수정 -->
    <script src="/js/setReferrer.js" defer></script>

    <script th:inline="javascript">
        let userId = /*[[${userId}]]*/ null;
        let pwdVerifyResult = /*[[${pwdVerifyResult}]]*/ null;

        $(document).ready(function () {

            const segments = document.referrer.split("/");
            const referrer = segments[segments.length - 1];
            console.log("이전 페이지의 마지막 경로:", referrer);

            console.log("pwdVerifyResult :", pwdVerifyResult);

            if (!(referrer==="pwd_verification"||referrer==="pwd_verification?")||pwdVerifyResult!=="Y"){
                alert("비밀번호 인증을 진행해주세요")
                window.location="/user/pwd_verification";
            }

            const modal = document.getElementById("termsModal");
            const closeButton = document.getElementsByClassName("close")[0];
            const disagreeButton = document.getElementById("disagreeButton");
            const agreeButton = document.getElementById("agreeButton");
            const termsLabel = document.getElementById("delete_info");


            termsLabel.addEventListener('click', function (event) {
                event.preventDefault();
                modal.style.display = "flex";
            });

            closeButton.addEventListener('click', function () {
                modal.style.display = "none";
            });

            disagreeButton.addEventListener('click', function () {
                modal.style.display = "none";
            });


            agreeButton.addEventListener('click', function () {
                modal.style.display = "none";

                $.ajax({
                    url: "/user/delInfo",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "JSON",
                    data: JSON.stringify({userId : null}), // x-www-form-urlencoded 방식
                }).then(
                    function (json){
                        alert(json.data.msg);
                        if (json.data.result > 0){
                            window.location = "/user/logout";
                        }
                    }
                );
            });

            window.addEventListener('click', function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            });

        });
    </script>
</head>
<body>
<header></header>

<!-- 모달 -->
<div id="termsModal" class="modal">
    <div class="modal-content autoWidth">
        <div class="close-area">
            <span class="close">&times;</span>
            <p style="text-align: center; font-weight: bolder; font-size: larger">주의</p>
        </div>
        <div class="terms-content">
            <p>회원 탈퇴하게 되면 다음 서비스 이용이 불가능합니다.</p>
            <p class="extra_top_margin">
                - 모든 회원 관리 서비스
                <br>- 처방 데이터 조회 서비스
                <br>- 복약 알림서비스
                <br>- AI 상담 서비스
            </p>
            <p class="extra_top_margin">회원탈퇴를 계속 진행하시겠습니까?</p>
        </div>
        <div class="extra_top_margin input_box" style="justify-content: space-between !important;">
            <input type="hidden" name="findIdSource" id="findIdSource">
            <button type="button" class="two_button" style="width: 50%" id="disagreeButton">취소</button>
            <button type="button" class="two_button" style="width: 50%" id="agreeButton">회원탈퇴</button>
        </div>
    </div>
</div>

<nav>
    <div class="nav-content">
        <div class="nav-group same_width justify-left">
            <a href="/">하루약속</a>
        </div>
        <div class="nav-group" id="serviceNav">
            <a href="/health/prescriptionList">처방 내역 조회</a>
            <a href="/health/auth">처방 내역 동기화</a>
            <a href="/chat/chat">AI 챗봇 상담</a>
            <a href="/map/map">주변 약국 찾기</a>
            <a href="/admin/index"
               th:if="${session.SS_USER != null and session.SS_USER.role != 'user'}">관리자</a>
        </div>
        <div class="nav-group same_width justify-right" id="beforeLoginNav" th:if="${session.SS_USER == null}">
            <a href="#" class="login" onclick="setReferrer()">로그인</a>
        </div>
        <div class="nav-group after_login same_width justify-right" id="afterLoginNav" th:if="${session.SS_USER != null}">
            <a href="/user/pwd_verification" class="nav-icon" title="마이페이지">👤</a>
            <a href="/user/logout" class="login">로그아웃</a>
        </div>
    </div>
</nav>

<div class="container">
    <a href="/user/myPage" class="card big-height big-width">
        <div class="icon myPage-icon">📋</div>
        <h2>회원정보 수정</h2>
        <p>아이디, 닉네임, 식사루틴 등<br>회원정보를 수정합니다.</p>
    </a>
    <a href="#" class="card big-height big-width" id="delete_info">
        <div class="icon myPage-icon">🚫</div>
        <h2>회원 탈퇴</h2>
        <p>수집된 모든 정보를 삭제 후<br>회원 탈퇴합니다.</p>
    </a>
</div>

<footer></footer>
</body>
</html>
