

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이메일 인증</title>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/userStyles.css">
    <link rel="stylesheet" href="/css/navStyles.css">
    <script src="/js/setReferrer.js" defer></script>
    <script src="/js/getExists.js" defer></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script> <!-- JS 경로 수정 -->

    <script th:inline="javascript">
        let userId = /*[[${userId}]]*/ null;
        let error = /*[[${msg}]]*/ null;
        let SS_USER = /*[[${session.SS_USER}]]*/ null;

        // DOM이 완전히 로드된 후에 실행되도록 설정
        $(document).ready(function () {


        });
    </script>
</head>
<body>
<header></header>

<!-- 네비게이션 바 -->
<nav>
    <div class="nav-content">
        <div class="nav-group same_width justify-left">
            <a href="/">하루약속</a>
        </div>
        <div class="nav-group" id="serviceNav">
            <a href="/health/prescriptionList">처방 내역 조회</a>
            <a href="/health/auth">처방 내역 동기화</a>
            <a href="/chat/chat">AI 챗봇 상담</a>
            <a href="/map/map">주변 약국 찾기</a>
            <a href="/admin/index"
               th:if="${session.SS_USER != null and session.SS_USER.role != 'user'}">관리자</a>
        </div>
        <div class="nav-group same_width justify-right" id="beforeLoginNav" th:if="${session.SS_USER == null}">
            <a href="#" class="login" onclick="setReferrer()">로그인</a>
        </div>
        <div class="nav-group after_login same_width justify-right" id="afterLoginNav" th:if="${session.SS_USER != null}">
            <a href="/user/pwd_verification" class="nav-icon" title="마이페이지">👤</a>
            <a href="/user/logout" class="login">로그아웃</a>
        </div>
    </div>
</nav>

<div class="content">
    <div class="container">
        <form method="post" action="/user/email_verification" id="emailVerificationForm">
            <input type="hidden" id="sourceField" name="source">
            <div class="form_box">
                <label class="label_bold" for="input_email">이메일 / E-MAIL</label>
                <div class="input_box">
                    <input type="email" class="send_code input_info" id="input_email" name="userEmail" placeholder="이메일을 입력하세요." required>
                    <button type="button" id="send_code" class="side_btn" onclick="getEmailExists('input_email')">코드전송</button>
                </div>
            </div>
            <div class="form_box">
                <label class="label_bold" for="email_confirm">인증코드 입력</label>
                <div class="input_box">
                    <input type="text" class="confirm_code input_info" id="email_confirm" name="email_confirm" placeholder="인증코드 입력." required>
                    <button type="button" id="check_code" class="side_btn" onclick="approveCode()">인증확인</button>
                </div>
            </div>
            <div class="button_login_wrap">
                <button type="submit" class="btn_next" id="nextButton">다음</button>
            </div>
        </form>
    </div>
</div>

<footer></footer>
</body>
</html>
