

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기 결과</title>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/userStyles.css">
    <link rel="stylesheet" href="/css/navStyles.css">
    <script src="/js/setSource.js" defer></script>
    <script src="/js/setReferrer.js" defer></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script> <!-- JS 경로 수정 -->
    <script src="/js/nav.js" defer></script>
    <script th:inline="javascript">
        let userId = /*[[${userId}]]*/ null;
        let userName = /*[[${userName}]]*/ null;
        let error = /*[[${msg}]]*/ null;
        let SS_USER_ID = /*[[${session.SS_USER_ID}]]*/ null;

        // DOMContentLoaded 이벤트 리스너를 사용하여 DOM이 완전히 로드된 후에 실행되도록 설정
        $(document).ready(function () {

            if (userName && userName.trim() !== "") {
                if (userId && userId.trim() !== "") {
                    document.getElementById('nameDisplay').textContent = userName;
                    document.getElementById('idDisplay').textContent = userId;
                }
            } else {
                alert("해당 이메일로 가입된 계정이 존재하지 않습니다.");
                window.location.href="signup_detail"
            }

            $("#goToLogin").on("click", function () {
                window.location = "/user/signin";
            })

            $("#goToResetPwd").on("click", function () {
                window.location = "/user/reset_pwd";
            })
        });
    </script>
</head>
<body>
<header></header>

<!-- 네비게이션 바 -->
<nav>
    <div class="nav-content">
        <div class="nav-group same_width justify-left">
            <a href="/user/index">하루약속</a>
        </div>
        <div class="nav-group" id="serviceNav">
            <a href="#">처방 내역 조회</a>
            <a href="#">처방 내역 동기화</a>
            <a href="#">AI 챗봇 상담</a>
            <a href="#">주변 약국 찾기</a>
        </div>
        <div class="nav-group same_width justify-right" id="beforeLoginNav">
            <a href="/user/signin" class="login" onclick="setReferrer()">로그인</a>
        </div>
        <div class="nav-group after_login same_width justify-right" id="afterLoginNav">
            <a href="/user/delOrUpdate" style="font-size: x-large" title="마이페이지">👤</a>
            <a href="/user/logout" class="login">로그아웃</a>
        </div>
    </div>
</nav>

<div class="content">
    <div class="container">
        <form method="post" action="/user/find_id" id="findIdForm">
            <div class="form_box">
                <div class="noti">
                    <div class="show_info" id="user_info">
                        <span id="nameDisplay"></span>
                        <span>님의 아이디는</span>
                    </div>
                    <div class="show_info" id="id_info">
                        <span id="idDisplay"></span>
                        <span>입니다.</span>
                    </div>
                    <div class="extra_top_margin input_box">
                        <input type="hidden" name="findIdSource" id="findIdSource">
                        <button type="button" class="two_button" id="goToLogin">로그인 페이지</button>
                        <button type="button" class="two_button" id="goToResetPwd">비밀번호 재설정</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<footer></footer>
</body>
</html>
