



<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>마이페이지</title>
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/userStyles.css">
  <link rel="stylesheet" href="/css/navStyles.css">
  <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script> <!-- JS 경로 수정 -->
  <script type="text/javascript" src="/js/jquery.serializeObject.min.js"></script>
  <script src="/js/getExists.js" defer></script>
  <script src="/js/setReferrer.js" defer></script>
  <script src="/js/checkDuplicate.js" defer></script>

  <script th:inline="javascript">
    let userId = /*[[${userId}]]*/ null;
    let existYN = /*[[${existYN}]]*/ null;
    let SS_USER = /*[[${session.SS_USER}]]*/ null;

    $(document).ready(function () {

      const referrer = document.referrer;
      const referrer_page = referrer.split('/').pop();

      console.log("referrer : "+referrer_page)

      if (SS_USER == null ||referrer_page!=="delOrUpdate"){
        alert("올바르지 않은 접근입니다.")
        window.location.href="/user/index";
      }

      $('#goToUpdate').on('click', function (event) {
        const birth = $('#birthDate').val().trim();
        const phone = $('#phoneNumber').val().trim();
        const mealCnt = parseInt($('#input_mealCnt').val());

        if ($("#input_email").val()!=""){
          if(approveResult==="N"){
            alert("이메일 인증을 진행해주세요.");
            return;
          }else{
            if($("#input_email").val()!=checkEmail){
              alert("인증받은 이메일과 다른 이메일을 입력하였습니다.");
              return;
            }else{
              if (existYn==="Y"){
                alert("이미 존재하는 이메일입니다.");
                return;
              }
            }
          }
        }

        const times = $('input[name="mealTime"]');

        for (let i = 0; i < times.length; i++) {
          if (!times[i].value) {
            alert(`${i + 1}번째 식사 시간을 입력해주세요.`);
            event.preventDefault();
            return;
          }
        }

        const data = $("#signupForm").serializeObject();

        // 👇 모든 name="mealTime"인 input 요소들을 배열로 수집
        const mealTimes = $('input[name="mealTime"]').map(function () {
          return $(this).val();
        }).get(); // [ "07:35" ] 또는 [ "07:35", "12:30", "18:00" ]

        data.mealTime = mealTimes;

        // 서버에 중복 여부 확인 요청 (jQuery 방식)
        $.ajax({
          url: "/user/updateInfo",
          type: "POST",
          contentType: "application/json",
          dataType: "JSON",
          data: JSON.stringify(data), // x-www-form-urlencoded 방식
        }).then(
                function (json){
                  alert(json.data.msg);
                  if (json.data.result==1){
                    window.location = "/user/index";
                  }
                }
        );
      });

      $('#goNext').on('click', function (event) {

        if ($("#input_id").val()!=""){
          if(!idPossible){
            alert("아이디 중복 여부를 확인해주세요.");
            return;
          }
        }

        if ($("#input_nickname").val()!=""){
          if(!nicknamePossible){
            alert("닉네임 중복 여부를 확인해주세요.");
            return;
          }
        }

        if ($('#input_id').val() !== check_id.trim()) {
          event.preventDefault();
          alert("아이디 중복확인을 다시 진행해주세요.");
          return;
        }

        if ($('#input_nickname').val() !== check_nick.trim()) {
          event.preventDefault();
          alert("닉네임 중복확인을 다시 진행해주세요.");
          return;
        }

        const password = $('#input_password').val();
        const password2 = $('#chk_password').val();

        if (password !== password2) {
          event.preventDefault();
          alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
          return;
        }

        $('#first').hide();
        $('#second').css('display', 'flex');
      });


      $('#goBack').on('click', function () {
        $('#second').hide();
        $('#first').css('display', 'flex');
      });

      $('#set_mealCnt').on('click', function () {
        const count = parseInt($('#input_mealCnt').val());

        const $container = $('#mealTimeInputs');
        $container.empty();

        for (let i = 1; i <= count; i++) {
          const $formBox = $('<div class="form_box"></div>');
          const $label = $('<label class="label_bold"></label>').text(`${i}번째 식사시간`);
          const $inputBox = $('<div class="input_box"></div>');
          const $input = $('<input type="time" class="input_info" name="mealTime" required>');

          $inputBox.append($input);
          $formBox.append($label).append($inputBox);
          $container.append($formBox);
        }
      });
    });
  </script>

</head>
<body>
<header></header>

<!-- 네비게이션 바 -->
<nav>
  <div class="nav-content">
    <div class="nav-group same_width justify-left">
      <a href="/user/index">하루약속</a>
    </div>
    <div class="nav-group" id="serviceNav">
      <a href="/health/prescriptionList">처방 내역 조회</a>
      <a href="/health/auth">처방 내역 동기화</a>
      <a href="/chat/chat">AI 챗봇 상담</a>
      <a href="#">주변 약국 찾기</a>
    </div>
    <div class="nav-group same_width justify-right" id="beforeLoginNav" th:if="${session.SS_USER == null}">
      <a href="#" class="login" onclick="setReferrer()">로그인</a>
    </div>
    <div class="nav-group after_login same_width justify-right" id="afterLoginNav" th:if="${session.SS_USER != null}">
      <a href="/user/pwd_verification" class="nav-icon" title="마이페이지">👤</a>
      <a href="/user/logout" class="login">로그아웃</a>
    </div>
  </div>
</nav>

<div class="content">
  <div class="container myPage">
    <div class="info_wrap">
      <div class="info_box_container">
        <div class="info_box">
          <div><span>이름</span></div>
          <div class="text-display">
            <span id="nameDisplay" th:text="${session.SS_USER.userName}"></span>
          </div>
        </div>
        <div class="info_box">
          <div><span>성별</span></div>
          <div class="text-display">
            <span id="genderDisplay" th:text="${session.SS_USER.gender}"></span>
          </div>
        </div>
        <div class="info_box">
          <div><span>아이디</span></div>
          <div class="text-display">
            <span id="userIdDisplay" th:text="${session.SS_USER.userId}"></span>
          </div>
        </div>
        <div class="info_box">
          <div><span>닉네임</span></div>
          <div class="text-display">
            <span id="nicknameDisplay" th:text="${session.SS_USER.userNickname}"></span>
          </div>
        </div>
        <div class="info_box">
          <div><span>이메일</span></div>
          <div class="text-display">
            <span id="emailDisplay" th:text="${session.SS_USER.userEmail}"></span>
          </div>
        </div>
        <div class="info_box">
          <div><span>생년월일</span></div>
          <div class="text-display">
            <span id="birthDateDisplay" th:text="${session.SS_USER.birthDate}"></span>
          </div>
        </div>
        <div class="info_box">
          <div><span>휴대폰 번호</span></div>
          <div class="text-display">
            <span id="phoneNumberDisplay" th:text="${session.SS_USER.phoneNumber}"></span>
          </div>
        </div>
        <div class="info_box">
          <div><span>식사시간</span></div>
          <div class="text-display">
            <span th:each="time, iterStat : ${session.SS_USER.mealTime}">
              <span th:text="${time}"></span><span th:if="${!iterStat.last}"> /</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form_wrap">
      <form method="post" action="signup_detail" id="signupForm">
        <div id="first">
          <div class="form_box">
            <label class="label_bold" for="input_name">이름 / NAME</label>
            <div class="input_box">
              <input type="text" class="input_info" id="input_name" name="userName" placeholder="이름을 입력하세요.">
            </div>
          </div>
          <div class="form_box">
            <div class="radio_box">
              <span class="margin_left_4px">성별</span>
              <input type="radio" id="male" name="gender" value="남성">
              <label for="male">남성</label>
              <input type="radio" id="female" name="gender" value="여성">
              <label for="female">여성</label>
            </div>
          </div>
          <div class="form_box">
            <label class="label_bold" for="input_id">아이디 / ID</label>
            <div class="input_box">
              <input type="text" class="send_code input_info" id="input_id" name="userId" placeholder="아이디를 입력하세요.">
              <button type="button" class="side_btn" id="id_check" onclick="checkDuplicate('input_id')">중복확인</button>
            </div>
            <p id="input_idMessage"></p>
          </div>
          <div class="form_box">
            <label class="label_bold" for="input_nickname">닉네임 / NICKNAME</label>
            <div class="input_box">
              <input type="text" class="send_code input_info" id="input_nickname" name="userNickname" placeholder="닉네임을 입력하세요.">
              <button type="button" class="side_btn" id="nick_check" onclick="checkDuplicate('input_nickname')">중복확인</button>
            </div>
            <p id="input_nicknameMessage"></p>
          </div>
          <div class="form_box">
            <label class="label_bold" for="input_password">비밀번호 / PASSWORD</label>
            <div class="input_box">
              <input type="password" class="input_info" id="input_password" name="password" placeholder="비밀번호를 입력하세요.">
            </div>
          </div>
          <div class="form_box">
            <label class="label_bold" for="chk_password">비밀번호 확인 / PASSWORD CHECK</label>
            <div class="input_box">
              <input type="password" class="input_info" id="chk_password" name="chk_password" placeholder="비밀번호를 확인하세요.">
            </div>
          </div>
          <div class="button_login_wrap">
            <button type="button" class="btn_signup" id="goNext">다음</button>
          </div>
        </div>
        <div id="second">
          <div class="form_box">
            <label class="label_bold" for="input_email">이메일 / E-MAIL</label>
            <div class="input_box">
              <input type="email" class="send_code input_info" id="input_email" name="userEmail" placeholder="이메일을 입력하세요." required>
              <button type="button" id="send_code" class="side_btn" onclick="getEmailExists('input_email')">코드전송</button>
            </div>
          </div>
          <div class="form_box">
            <label class="label_bold" for="email_confirm">인증코드 입력</label>
            <div class="input_box">
              <input type="text" class="confirm_code input_info" id="email_confirm" name="email_confirm" placeholder="인증코드 입력." required>
              <button type="button" id="check_code" class="side_btn" onclick="approveCode()">인증확인</button>
            </div>
          </div>
          <div class="form_box">
            <label class="label_bold" for="birthDate">생년월일</label>
            <div class="input_box">
              <input type="text" class="input_info" id="birthDate" name="birthDate" placeholder="생년월일을 확인하세요.(19990101)" required>
            </div>
          </div>
          <div class="form_box">
            <label class="label_bold" for="phoneNumber">핸드폰 번호</label>
            <div class="input_box">
              <input type="text" class="input_info" id="phoneNumber" name="phoneNumber" placeholder="핸드폰번호를 확인하세요.(01012345678)" required>
            </div>
          </div>
          <div class="form_box">
            <label class="label_bold" for="input_mealCnt">식사량</label>
            <div class="input_box">
              <input type="number" class="send_code input_info" id="input_mealCnt" name="mealCnt" placeholder="식사량을 입력하세요." required>
              <button type="button" class="side_btn" style="width: 20%" id="set_mealCnt">확인</button>
            </div>
          </div>
          <!-- 식사 시간 입력창이 동적으로 들어올 영역 -->
          <div class="form_box" id="mealTimeInputs"></div>
          <div class="input_box" style="justify-content: space-between !important;">
            <button type="button" class="two_button" style="width: 50%" id="goBack">뒤로가기</button>
            <button type="button" class="two_button" style="width: 50%" id="goToUpdate">회원정보 수정</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<footer></footer>
</body>
</html>

