

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 인증</title>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/userStyles.css">
    <link rel="stylesheet" href="/css/navStyles.css">
    <script src="/js/getExists.js" defer></script>
    <script src="/js/setReferrer.js" defer></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script> <!-- JS 경로 수정 -->
    <script type="text/javascript" src="/js/jquery.serializeObject.min.js"></script>

    <script th:inline="javascript">
        let userId = /*[[${userId}]]*/ null;
        let existYN = /*[[${existYN}]]*/ null;
        let SS_USER = /*[[${session.SS_USER}]]*/ null;

        $(document).ready(function () {

            $("#input_pwd").on("keypress", function (e) {
                if (e.key === "Enter") {
                    e.preventDefault(); // 기본 form 제출 막기
                    $("#pwd_verify").click(); // 인증하기 버튼 클릭
                }
            });

            $("#pwd_verify").on("click", function (){
                const value = $("#input_pwd").val();

                if (value === ""){
                    alert("비밀번호를 입력하세요.");
                    return;
                }

                $.ajax({
                    url: "/user/pwd_verification",
                    type: "post", // 전송방식은 Post
                    contentType: "application/json",
                    data: JSON.stringify($("#pwdVerifyForm").serializeObject()), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                    dataType: "JSON", // 전송 결과는 JSON으로 받기
                }).then(
                    function (json) {
                        alert(json.data.msg);
                        if (json.data.result == 1) {
                            window.location = "/user/delOrUpdate";
                        }else{
                            location.reload();
                        }
                    }
                )
            });
        });
    </script>
</head>
<body>
<header></header>

<!-- 네비게이션 바 -->
<nav>
    <div class="nav-content">
        <div class="nav-group same_width justify-left">
            <a href="/user/index">하루약속</a>
        </div>
        <div class="nav-group" id="serviceNav">
            <a href="/health/prescriptionList">처방 내역 조회</a>
            <a href="/health/auth">처방 내역 동기화</a>
            <a href="#">AI 챗봇 상담</a>
            <a href="#">주변 약국 찾기</a>
        </div>
        <div class="nav-group same_width justify-right" id="beforeLoginNav" th:if="${session.SS_USER == null}">
            <a href="#" class="login" onclick="setReferrer()">로그인</a>
        </div>
        <div class="nav-group after_login same_width justify-right" id="afterLoginNav" th:if="${session.SS_USER != null}">
            <a href="/user/pwd_verification" class="nav-icon" title="마이페이지">👤</a>
            <a href="/user/logout" class="login">로그아웃</a>
        </div>
    </div>
</nav>

<div class="content">
    <div class="container">
        <form method="post" action="/user/pwd_verification" id="pwdVerifyForm">
            <div class="form_box">
                <label class="label_bold" for="input_pwd">비밀번호 / PASSWORD</label>
                <div class="input_box">
                    <input type="password" class="send_code input_info" id="input_pwd" name="password" placeholder="비밀번호를 입력하세요." required>
                    <button type="button" id="pwd_verify" class="side_btn">인증하기</button>
                </div>
            </div>
        </form>
    </div>
</div>

<footer></footer>
</body>
</html>