<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/userStyles.css"/>
    <link rel="stylesheet" href="/css/navStyles.css">
    <script src="/js/setReferrer.js" defer></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery.serializeObject.min.js"></script>
    <script th:inline="javascript">
        let userId = /*[[${userId}]]*/ null;
        let ref = /*[[${ref}]]*/ null;

        $(document).ready(function () {

            console.log("userId : ",userId);
            console.log("ref :",ref);

            $('#input_id').val(userId);

            // Enter 키 입력 시 applyLogin 함수 실행
            $(document).on("keydown", function (e) {
                if (e.key === "Enter") {
                    e.preventDefault(); // 기본 form 제출 방지
                    applyLogin();
                }
            });
        });

        function applyLogin(){
            const id = $("#input_id").val();
            const pwd = $("#input_pwd").val();

            if (id === "") {
                alert("아이디를 입력하세요.");
                return;
            }

            if (pwd === "") {
                alert("비밀번호를 입력하세요.");
                return;
            }

            $.ajax({
                url: "/user/signin",
                type: "post", // 전송방식은 Post
                contentType: "application/json",
                data: JSON.stringify($("#signinForm").serializeObject()), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                dataType: "JSON", // 전송 결과는 JSON으로 받기
            }).then(
                function (json) {
                    alert(json.data.msg);
                    if (json.data.result == 1) {
                        window.location = ref;
                    }
                }
            )
        }

        function setSourceAndSubmit(source) {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/user/setSource';

            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'source';
            input.value = source;
            form.appendChild(input);

            document.body.appendChild(form);
            form.submit();
        }
    </script>
</head>
<body>
<header></header>

<!-- 네비게이션 바 -->
<nav>
    <div class="nav-content">
        <div class="nav-group same_width justify-left">
            <a href="/user/index">하루약속</a>
        </div>
        <div class="nav-group" id="serviceNav">
            <a href="#">처방 내역 조회</a>
            <a href="/health/auth">처방 내역 동기화</a>
            <a href="#">AI 챗봇 상담</a>
            <a href="#">주변 약국 찾기</a>
        </div>
        <div class="nav-group same_width justify-right" id="beforeLoginNav" th:if="${session.SS_USER == null}">
            <a href="#" class="login" onclick="setReferrer()">로그인</a>
        </div>
        <div class="nav-group after_login same_width justify-right" id="afterLoginNav" th:if="${session.SS_USER != null}">
            <a href="/user/pwd_verification" class="nav-icon" title="마이페이지">👤</a>
            <a href="/user/logout" class="login">로그아웃</a>
        </div>
    </div>
</nav>

<div class="content">
    <div class="container">
        <form method="post" action="/user/signin" id="signinForm">
            <div class="form_box">
                <label class="label_bold" for="input_id">아이디 / ID</label>
                <div class="input_box">
                    <input type="text" class="input_info" id="input_id" name="userId" placeholder="아이디를 입력하세요." required>
                </div>
            </div>
            <div class="form_box">
                <label class="label_bold" for="input_pwd">비밀번호 / PASSWORD</label>
                <div class="input_box">
                    <input type="password" class="input_info" id="input_pwd" name="password" placeholder="비밀번호를 입력하세요." required>
                </div>
            </div>
            <div class="form_box">
                <input type="checkbox" class="auto_login_chk" id="auto_login" name="auto_login">
                <label class="margin_lef_zero" for="auto_login">자동 로그인</label>
            </div>
            <div class="button_login_wrap">
                <button type="button" class="btn_login" id="login" onclick="applyLogin()">로그인</button>
            </div>
            <div class="forgot_login">
                <a href="#" onclick="setSourceAndSubmit('signup_detail')">회원가입</a>
                <span> / </span>
                <a href="#" onclick="setSourceAndSubmit('find_id')">아이디 찾기</a>
                <span> / </span>
                <a href="#" onclick="setSourceAndSubmit('reset_pwd')">비밀번호 재설정</a>
            </div>
        </form>
    </div>
</div>

<footer></footer>
</body>
</html>
