<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/userStyles.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/setReferrer.js" defer></script>
    <script src="/js/checkDuplicate.js" defer></script>

    <!-- Thymeleaf session 값 JS에 전달 -->
    <script th:inline="javascript">
        const error = /*[[${session.error}]]*/ null;
        const SS_USER_ID = /*[[${session.SS_USER_ID}]]*/ null;
    </script>

    <script>
        $(document).ready(function () {
            if (error && error.trim() !== "null") {
                alert(error);
                $('#redirectForm').submit();
                return;
            }

            if (SS_USER_ID && SS_USER_ID.trim() !== "null") {
                $("#loginNav").hide();
            } else {
                $("#myPageNav").hide();
                $("#logoutNav").hide();
            }

            const modal = document.getElementById("termsModal");
            const closeButton = document.getElementsByClassName("close")[0];
            const agreeButton = document.getElementById("agreeButton");
            const termsCheckbox = document.getElementById("confirm_terms");
            const termsLabel = document.querySelector("label[for='confirm_terms']");
            let isAgreed = false;

            termsLabel.addEventListener('click', function (event) {
                event.preventDefault();
                modal.style.display = "flex";
                isAgreed = true;
            });

            closeButton.addEventListener('click', function () {
                modal.style.display = "none";
            });

            agreeButton.addEventListener('click', function () {
                termsCheckbox.checked = true;
                modal.style.display = "none";
            });

            window.addEventListener('click', function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            });

            termsCheckbox.addEventListener('click', function (event) {
                if (!isAgreed) {
                    event.preventDefault();
                    alert("이용약관을 먼저 확인하고 동의해야 합니다.");
                }
            });

            // 폼 제출 시 확인
            $('#goToLogin').on('click', function (event) {
                if (!idChecked || !nicknameChecked) {
                    event.preventDefault();
                    alert("아이디와 닉네임 중복 여부를 확인해주세요.");
                    return;
                }

                if ($('#input_id').val() !== check_id.trim()) {
                    event.preventDefault();
                    alert("아이디 중복확인을 다시 진행해주세요.");
                    return;
                }

                if ($('#input_nickname').val() !== check_nick.trim()) {
                    event.preventDefault();
                    alert("닉네임 중복확인을 다시 진행해주세요.");
                    return;
                }

                const pwd = $('#input_pwd').val();
                const pwd2 = $('#chk_pwd').val();

                if (pwd !== pwd2) {
                    event.preventDefault();
                    alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
                    return;
                }
            });
        });
    </script>
</head>
<body>
<header></header>

<!-- 모달 -->
<div id="termsModal" class="modal">
    <div class="modal-content">
        <div class="close-area">
            <span class="close">&times;</span>
            <p style="text-align: center; font-weight: bolder; font-size: larger">이용약관</p>
        </div>
        <div class="terms-content">
            <p>회원가입을 위해 아래와 같이 개인정보를 수집하고 있습니다.</p>
            <p>
                - 수집 항목: 이름, 이메일 주소, 성별
                <br>- 수집 목적: 회원 식별 및 서비스 제공
                <br>- 보유 기간: 회원 탈퇴 시까지
            </p>
            <p>개인정보 수집 및 이용에 동의합니다.</p>
        </div>
        <button class="agree-btn" id="agreeButton">동의</button>
    </div>
</div>

<form id="redirectForm" action="/user/find_id" method="get" style="display: none;"></form>

<!-- 네비게이션 -->
<div class="navbar">
    <img src="/nestifyLogo.png" alt="Logo" class="logo">
    <div class="menu">
        <a href="/user/index">홈</a>
        <a href="/interior/choose">인테리어</a>
        <a href="javascript:void(0);" id="loginNav" onclick="setReferrer()">로그인</a>
        <a href="/user/delOrUpdate" id="myPageNav">마이페이지</a>
        <a href="/user/logout" id="logoutNav">로그아웃</a>
    </div>
</div>

<!-- 본문 -->
<div class="content">
    <div class="container">
        <form method="post" action="signup_detail" id="signupForm">
            <div class="form_box">
                <label class="label_bold" for="input_name">이름 / NAME</label>
                <div class="input_box">
                    <input type="text" class="input_info" id="input_name" name="name" placeholder="이름을 입력하세요." required>
                </div>
            </div>
            <div class="form_box">
                <div class="radio_box">
                    <span class="margin_left_4px">성별</span>
                    <input type="radio" id="male" name="gender" value="남성" required>
                    <label for="male">남성</label>
                    <input type="radio" id="female" name="gender" value="여성">
                    <label for="female">여성</label>
                </div>
            </div>
            <div class="form_box">
                <label class="label_bold" for="input_id">아이디 / ID</label>
                <div class="input_box">
                    <input type="text" class="send_code input_info" id="input_id" name="userId" placeholder="아이디를 입력하세요." required>
                    <button type="button" class="side_btn" id="id_check" onclick="checkDuplicate('input_id')">중복확인</button>
                </div>
                <p id="input_idMessage"></p>
            </div>
            <div class="form_box">
                <label class="label_bold" for="input_nickname">닉네임 / NICKNAME</label>
                <div class="input_box">
                    <input type="text" class="send_code input_info" id="input_nickname" name="userNickname" placeholder="닉네임을 입력하세요." required>
                    <button type="button" class="side_btn" id="nick_check" onclick="checkDuplicate('input_nickname')">중복확인</button>
                </div>
                <p id="input_nicknameMessage"></p>
            </div>
            <div class="form_box">
                <label class="label_bold" for="input_pwd">비밀번호 / PASSWORD</label>
                <div class="input_box">
                    <input type="password" class="input_info" id="input_pwd" name="pwd" placeholder="비밀번호를 입력하세요." required>
                </div>
            </div>
            <div class="form_box">
                <label class="label_bold" for="chk_pwd">비밀번호 확인 / PASSWORD CHECK</label>
                <div class="input_box">
                    <input type="password" class="input_info" id="chk_pwd" name="chk_pwd" placeholder="비밀번호를 확인하세요." required>
                </div>
            </div>
            <div class="form_box">
                <input type="checkbox" class="auto_login_chk" id="confirm_terms" name="auto_login" required>
                <label for="confirm_terms">이용약관에 동의</label>
            </div>
            <div class="button_login_wrap">
                <button type="submit" class="btn_signup" id="goToLogin">회원가입</button>
            </div>
        </form>
    </div>
</div>
<footer></footer>
</body>
</html>
