:root {
    --primary-color: #70d9c5;
    --highlight-color: rgb(25, 118, 202);
    --navbar-color: #ffffff;
    --text-color: #000000;
    --white-text: #ffffff;
    --button-color: #1976ca;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-left {
    text-align: left;
}

.text-white {
    color: var(--white-text);
}

.container {
    min-width: 25rem;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.625rem;
}

.card  {
    width: 18.75rem;
    height: 18.75rem;
    background-color: #eaf7f4;
    border-radius: 0.625rem;
    box-shadow: 0.625rem 0.625rem 0.25rem rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.25rem;
    text-align: center;
}

.card, .card h2 {
    text-decoration: none;
    color: inherit;
}

/*.card:hover {*/
/*  cursor: pointer;*/
/*}*/

.highlight {
    background-color: var(--highlight-color);
    color: var(--white-text);
}

.icon {
    font-size: 2.5rem;
    margin-bottom: 0.625rem;
}

h2 {
    margin: 0.625rem 0;
    font-size: 1.375rem;
}

p {
    font-size: 1rem;
    color: #555;
}

@media (max-width: 48rem) {
    .container {
        grid-template-columns: 1fr;
    }
}